body, html {
    background-color: #2a2e39;
    color: #8f9197;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    height:90vh;
}
.container-fluid {
    padding: 0px;
}
.padding-right-0{
    padding-right:0;
}
.padding-left-0{
    padding-left:0;
}
.state-viewer {
    overflow: auto;
    height:90vh;
    min-height: 90vh;
    color: #8f9197;
    background-color: #1c1e25;
}
#actions
{
    border: 1px solid #666a70;
    border-top: none;
    border-left: none;
}
#actions {
    padding: 0px;
    margin: 0px;   
}
#actions li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid rgba(190, 190 ,190, 0.5);
}

#actions li:HOVER {
    background-color: #484c55;
}

#actions li a {
    padding: 0px;
    margin: 0px;   
    display: block;
    padding: 5px 0px;
    padding-left: 5px;
    color: #8f9197;
    width: 100%;
}

#header-viewer {
    background-color: #555a61;
    color: #babcbe;
    padding: 5px 10px;
    
}
